@keyframes gradientColor {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .text-radiant {
    background: linear-gradient(
      90deg,
      #00ff00, /* Green */
      #00cc99,
      #66ff33,
      #009966
    );
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientColor 5s infinite;
  }
  